<?xml version="1.0"?>
<image name="openSUSE-10.3-Beta1">
  <description type="system">
    <author>Jan-Christoph Bornschlegel</author>
    <contact>jcbornschlegel@novell.com</contact>
    <specification>openSUSE 10.3 Beta 1 Live system</specification>
  </description>
  <preferences>
    <type primary="true" boot="isoboot/suse-10.3" flags="unified">iso</type>
    <type boot="vmxboot/suse-10.3" filesystem="ext3" format="vmdk">vmx</type>
    <type boot="xenboot/suse-10.3" filesystem="ext3">xen</type>
    <type boot="usbboot/suse-10.3" filesystem="squashfs">usb</type>
    <version>1.2.0</version>
    <size unit="M">2000</size>
    <packagemanager>smart</packagemanager>
    <rpm-check-signatures>False</rpm-check-signatures>
    <rpm-force>False</rpm-force>
  </preferences>
  <users group="users">
    <user name="linux" pwd="$2a$10$90AjhfXU2YIwTRrIftBauecvWXVuaNZ6JLM2IpWi0svu2kO16le9e" home="/home/linux"/>
    <user name="root" pwd="$2a$10$90AjhfXU2YIwTRrIftBauecvWXVuaNZ6JLM2IpWi0svu2kO16le9e" home="/root"/>
  </users>
  <repository type="yast2">
    <source path="/space/sld/kiwi/full-i386"/>
  </repository>
  <packages type="image" patternType="plusRecommended">
    <package name="yast2-schema"/>
    <package name="yast2-theme-openSUSE"/>
    <package name="bundle-lang-kde-en"/>
    <package name="java-1_4_2-gcj-compat"/>
    <package name="yast2-live-installer"/>
    <opensusePattern name="default"/>
    <opensusePattern name="base"/>
    <opensusePattern name="enhanced_base"/>
    <opensusePattern name="x11"/>
    <opensusePattern name="yast2_basis"/>
    <opensusePattern name="yast2_install_wf"/>
    <opensusePattern name="apparmor"/>
    <opensusePattern name="laptop"/>
    <opensusePattern name="imaging"/>
    <opensusePattern name="kde"/>
    <opensusePattern name="kde_basis"/>
    <opensusePattern name="kde_imaging"/>
    <opensusePattern name="kde_multimedia"/>
    <opensusePattern name="office"/>
    <opensusePattern name="kde_office"/>
    <opensusePattern name="kde_games"/>
    <opensusePattern name="rest_cd"/>
  </packages>
  <packages type="boot">
    <package name="filesystem"/>
    <package name="glibc-locale"/>
    <package name="kernel-default"/>
    <package name="devs"/>
  </packages>
</image>
